/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;

}

body {
    background-color: #F0EAE3;
    font-family: 'DM Sans', sans-serif;

}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

.center {
    text-align: center;
}

.nav {
    font-weight: 900;
    margin: 2em 0 0em 0;
}

.nav a{
    text-decoration: none; 
    color: rgba(0,0,0,0.65);
}

.nav a:hover{
    color: rgba(0,0,0,1);
}

#backgroundShape {
    z-index: -1;
    position: absolute;
    top: -50%;
    left: 85%;
    height: 60vh;
    width: 30vw;
    border-radius: 50%;
    -webkit-filter: blur(100px);
    filter: blur(100px);
}
.logo{
    color: rgba(0,0,0,1) !important;
    font-size: 4em; 
    margin: -20px 1em -20px 0px;
}
.content {
    border-radius: 6px;
    padding: 5%;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}

img {
    filter: drop-shadow(5px 5px 5px #161818);
    border-radius: 10%;
}


/* Animations */

  /* The element to apply the animation to */
  body {
    animation-name: Background_gradient;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  } 
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(86, 177, 68);
    animation-name: animated_circle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  } 

.triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 75px solid rgb(33, 110, 53);
    animation-name: animated_triangle;
    animation-duration: .01s;
    animation-iteration-count: infinite;
}

.moving_circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(87, 99, 202);
    animation-name: moving_circle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  } 

@keyframes Background_gradient {
    0%   {background-color:rgb(85, 231, 183);}
    50%  {background-color:rgb(108, 206, 236);}
    100%   {background-color:rgb(85, 231, 183);}
  }

  @keyframes animated_circle {
    0%    {height: 100px; width: 100px;}
    25%   {height: 50px; width: 150px;}
    50%   {height: 250px; width: 50px;}
    75%   {height: 150px; width: 200px;}
    100%  {height: 100px; width: 100px;}
  }

  @keyframes animated_triangle {
    0%   {border-bottom-color:yellow;}
    25%  {border-bottom-color:green;}
    50%  {border-bottom-color:red;}
    75%  {border-bottom-color:blue;}
    100% {border-bottom-color:yellow;}
  }

  @keyframes moving_circle {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:1000px;}
    75%  {left:0px; top:1000px;}
    100% {left:0px; top:0px;}
  }