/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;

}

body {
    background-color: #F0EAE3;
    font-family: 'DM Sans', sans-serif;

}


/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

.center {
    text-align: center;
}

.nav {
    font-weight: 900;
    margin: 2em 0 0em 0;
}

.nav a{
    text-decoration: none; 
    color: rgba(0,0,0,0.65);
}

.nav a:hover{
    color: rgba(0,0,0,1);
    font-size: 110%;
}

#backgroundShape {
    z-index: -1;
    position: absolute;
    top: -50%;
    left: 85%;
    height: 60vh;
    width: 30vw;
    border-radius: 50%;
    -webkit-filter: blur(100px);
    filter: blur(100px);
}
.logo{
    color: rgba(0,0,0,1) !important;
    font-size: 4em; 
    margin: -20px 1em -20px 0px;
}
.content {
    border-radius: 6px;
    padding: 5%;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(83, 68, 40, 0.2);
    margin: 25px;
}

.attrEx {
    color:rgb(255, 0, 234);
}

.alexImages {
    box-shadow: 10px 10px 20px rgba(54, 44, 25, 0.2);
    border-radius: 15%;
    border: 5px solid rgb(255, 255, 255);
    width: 75%;
}

#name {
    font-size: 220%;
    letter-spacing: 1.5px;
    font-weight: bolder;
}

#subText {
    font-style: oblique;
    font-size: 110%;
    letter-spacing: 1.2px;
    text-align: center;
}


/* modified code from https://codepen.io/yemon/details/pWoROm */
#container {
    color:#999;
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    display:block;
    text-align: center;
  }
  
  #flip {
    height:50px;
    overflow:hidden;

  }
  
  #flip > div > div {
    color:#fff;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
  }
  
  #flip div:first-child {
    animation: show 5s linear infinite;
  }
  
  #flip div div {
    background:#8b50ce;
  }
  #flip div:first-child div {
    background:#dc9614;
  }
  #flip div:last-child div {
    background:#df81a5;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }